/*Applied to all*/
*{
    box-sizing: border-box;
}
/*Html tags*/
body{
    margin: 0;
}
/*Main container*/
.main-container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Heading*/
.heading-container{
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    color: #555555;
    font-size: 3rem;
    font-weight: 700;
}
/*image*/

.image-container{
    display: flex;
    height: 36rem;
    width: 60rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.image{
    height: 100%;
    width: 100%;
    display: none;
}